.list {
  gap: 10px;
  width: 100%;
  font-size: 24px;
   background-color:black;
}

.checkboxLabel {
  display: flex;
  gap: 30px;
  text-align: center;
  border-radius: 50%!important;
  color: #FF6C22;
  
}
.checkboxLabel:after{
    border-radius: 50%;
}
.checkbox {
  margin-left: 20px;
  width: 24px;
  cursor: pointer;
  outline: none;
  border-radius: 40px;
  
}
.item { 
  border-bottom: 1px solid white;
  }