.list {
  background-color: yellow;
  gap: 10px;
  width: 100%;
  font-size: 24px;
   background-color: #2B2A4C;
   text-decoration: underline;
}

.checkboxLabel {
  display: flex;
  gap: 30px;
  text-align: center;
  text-decoration: underline;
  border-radius: 50%!important;
  color: white;
  
}
.checkboxLabel:after{
    border-radius: 50%;
}
.checkbox {
  margin-left: 20px;
  width: 24px;
  cursor: pointer;
  outline: none;
  border-radius: 40px;
  
}
.item { 
  border-bottom: 1px solid white;
  }