.list {
  background-color: yellow;
  gap: 10px;
  width: 100%;
  font-size: 24px;
   background-image: linear-gradient(315deg,  #74d680 0% ,#ff7878 100%);
  
}

.checkboxLabel {
  display: flex;
  gap: 30px;
  text-align: center;
  text-decoration: underline;
  border-radius: 50%!important;
  
}
.checkboxLabel:after{
    border-radius: 50%;
}
.checkbox {
  margin-left: 20px;
  width: 24px;
  cursor: pointer;
  outline: none;
  border-radius: 40px;
}
